{include file="$esa_header"}
<div class="padding-md">
    <div id="table2"></div>
    <div id="table1"></div>
</div>
<script id="headToolbar" type="text/html">
    <button class="btn btn-primary btn-sm" esa-event="add">添加<%if (elem=="#table1"){ %>HTML<% }else{ %>TPL<%}%></button>
    <button class="btn btn-success btn-sm" esa-event="get_ids">获取ids</button>
    <button class="btn btn-info btn-sm" esa-event="reload"><i class="fa fa-refresh"></i></button>
</script>
<script id="tool" type="text/html">
    <button esa-event="do">测试</button>
</script>
<script>
require(['ESA','esa_table','layer',"esa_switch"],function(ESA,Table,layer){
    Table.init({
        elem: "#table2",
        url: "{:addons_url('demo://system.example/list')}",
        page: true,
        select: "checkbox",
        cols: [
            {field:"id",width:"50px",title:"PID"},
            {field:"logo",width:"100px",title:"头像"},
            {field:"type",width:"150px",title:"类型"},
            {field:"name",width:"auto",title:"标题"},
            {field:"nickname",width:"100px",title:"管理员"},
            {field:"id",title:"模板",tpl:function(d){
                return "<span class='switch-off switch-sm' esa-event='test'><span class='slider'></span></span>";
            }},
            {field:"tool",width:"10%",title:"操作",toolbar:"#tool"}
        ],
        headToolbar:"#headToolbar",
        limit: 5,
    })
    Table.on("#table2",function(obj){
        if(obj.event == "get_ids"){
            layer.msg(JSON.stringify(obj.ids));
        }else if(obj.event == "do"){
            layer.msg("测试"+obj.data.id);
        }else if(obj.event == "reload"){
            Table.reload("#table2");
        }else if(obj.event == "add"){
            ESA.fun.open("{:addons_url('demo://system.example/form',['type'=>'tpl'])}","标题",{});
        }else{
            ESA.msg(obj.event+"事件触发");
        }
    })
    Table.init({
        elem: "#table1",
        url: "{:addons_url('demo://system.example/list')}",
        page: true,
        select: "radio",
        cols: [
            {field:"id",width:"50px",title:"PID"},
            {field:"logo",width:"100px",title:"头像"},
            {field:"type",width:"150px",title:"类型"},
            {field:"name",width:"auto",title:"标题"},
            {field:"nickname",width:"100px",title:"管理员"},
            {field:"tool",width:"10%",title:"操作",toolbar:"#tool"}
        ],
        headToolbar:"#headToolbar",
        limit: 5,
    })
    Table.on("#table1",function(obj){
        if(obj.event == "get_ids"){
            layer.msg(JSON.stringify(obj.ids));
        }else if(obj.event == "do"){
            layer.msg("测试"+obj.data.id);
        }else if(obj.event == "reload"){
            Table.reload("#table1");
        }else if(obj.event == "add"){
            ESA.fun.open("{:addons_url('demo://system.example/form',['type'=>'html'])}","标题",{});
        }else{
            ESA.msg("表格内事件触发");
        }
    })
})
</script>
{include file="$esa_footer"}